<div class="dashboard-container mat-elevation-z4">
  <h1>Auto Pick</h1>
  <div class="filters">
    <!-- Make Filter -->
    <div class="filter-category">
      <mat-form-field appearance="fill" style="width: 175px">
        <mat-label>Make</mat-label>
        <mat-select [(ngModel)]="viewState.filters.make" (selectionChange)="onMakeChange()">
          <mat-option value="">All</mat-option>
          <mat-option *ngFor="let make of uniqueMakes" [value]="make">{{ make }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Model Filter -->
      <mat-form-field appearance="fill" style="width: 175px">
        <mat-label>Model</mat-label>
        <mat-select [(ngModel)]="viewState.filters.model" [disabled]="!viewState.filters.make">
          <mat-option value="">All</mat-option>
          <mat-option *ngFor="let model of modelsByMake" [value]="model">{{ model }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Bid Range -->
    <div class="filter-category">
      <mat-form-field appearance="fill" style="width: 150px">
        <mat-label>Min Bid</mat-label>
        <input matInput type="number" [(ngModel)]="viewState.filters.minBid" [min]="minBid" [max]="maxBid" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 150px">
        <mat-label>Max Bid</mat-label>
        <input matInput type="number" [(ngModel)]="viewState.filters.maxBid" [min]="minBid" [max]="maxBid" />
      </mat-form-field>
    </div>

    <!-- Favourites -->
    <mat-checkbox [(ngModel)]="viewState.filters.favouritesOnly"> Favourites </mat-checkbox>

    <!-- Action Buttons -->
    <div class="filter-actions">
      <button mat-raised-button color="primary" (click)="updateView()">Apply Filters</button>
      <button mat-button color="warn" (click)="resetFilters()">Reset All</button>
    </div>
  </div>
  <div class="subtitle-container">
    <h2>Vehicle List</h2>
    <mat-button-toggle-group [(ngModel)]="viewState.viewType" (change)="updateUrlFromState()">
      <mat-button-toggle value="card">Card view</mat-button-toggle>
      <mat-button-toggle value="table">Table view</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <app-vehicle-table
    *ngIf="viewState.viewType === 'table'"
    [dataSource]="dataSource"
    [columnsConfig]="columnsConfig"
    [columnFields]="columnFields"
    [sortData]="viewState.sort"
    (onSort)="sortBy($event)"
    (onDetails)="goToDetails($event)"
    (onFavorite)="toggleFavourite($event)"
  ></app-vehicle-table>

  <app-vehicle-card
    *ngIf="viewState.viewType === 'card'"
    [dataSource]="dataSource"
    [columnsConfig]="columnsConfig"
    [sortData]="viewState.sort"
    (onSort)="sortBy($event)"
    (onDetails)="goToDetails($event)"
    (onFavorite)="toggleFavourite($event)"
  ></app-vehicle-card>

  <mat-paginator
    #paginator
    (page)="handlePageEvent($event)"
    [length]="viewState.pagination.length"
    [pageSize]="viewState.pagination.pageSize"
    [disabled]="false"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="[10, 20, 30]"
    [hidePageSize]="false"
    [pageIndex]="viewState.pagination.pageIndex"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
